
body{
  font-family: Verdana, Arial, helvetica, sans-serif;
  color:black;
  background:white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(../images/background.png);
  padding-left: 40;
  padding-right: 20;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

/* IE hack for max width: */
#wrapper, .article{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0pt;
  padding-right: 0pt;
  width:expression(document.body.clientWidth > (800+40+20) ? "800" : "auto" );
  margin-left:expression(document.body.clientWidth > (800+40+20) ? ((document.body.clientWidth-(800+40+20))/3)+"pt" : "auto" );
}

/* base elements */
b, i, em{
  background:transparent;
}
p, div, ul, ol, dl, td{
  font-size:10pt;
  color:#000000;
}
p, div.p, blockquote{
  margin-top:4pt;
  margin-bottom:4pt;
  xtext-align:justify;
}
code, pre, tt{
  font-family: Lucida Console, Andale Mono, Courier New, Courier, monospace;
  color:#202040;
}

code{ white-space: nowrap }

strong{
  color:#233961;
  font-weight:bold;
  background:transparent;
}
.small{
  font: 80%;
}

div.back a:hover{ background : transparent }
div.back{
  /*position:fixed;*/
  position:absolute;
  top:0px;
  left:0px;
}

.sshot{
  margin: 2pt 1pt 1pt 1pt;
}

li{}
img{ border: none; }

table{
  margin-top: 2px;
}
th{
  font-family: verdana, tahoma, arial, helvetica, sans-serif;
  font-size:14pt;
  background:#A0A0A0;
  color:#000000;
}
dt{ font-weight: bold; }

/* hyperlink */
a{
  xfont-weight:bold;
}
a[href]{
  text-decoration: underline;
}
a:link {
  color: #4045A7;
  background: transparent;
}
a:visited {
  color: #6075B1;
  background: transparent;
}
a[href]:active {
  color: #5369B1;
  background: transparent;
}
a[href]:hover{
  color: #5369E1;
  background: #f2f2ff;
  text-decoration: underline;
}

h1, h2, h3{ color: #303570; font-weight: normal; }
h1, h2{ margin: 5pt 7pt 14pt 0pt; }
h1{ font: 190%; text-align: center; }
h2{ font: 150%; }
h3{ font: 120%; margin: 14pt 4pt 8pt 4pt; }
h4{ font: small-caps 100%; font-weight: bold; }

.smalllic{
  font-size: 8pt;
  color: gray;
  margin-left: 10pt;
  margin-right: 20pt;
  text-align:justify;
}

.icon{
  float:left;
}

.download{
  border: 0;
  display: block;
  background: url("../images/download.png") top left no-repeat;
  height: 60px;
  width: 350px;
  text-align: right;
  vertical-align:bottom;
}
.download a,
.download a:visited,
.download a:hover,
.download a:link,
.download a:active
{
  padding-right: 25pt;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 120px;
  top: 18px;
  position: relative;
  font-size: 135%;
  color: #202567;
  background: transparent;
  white-space: nowrap;
  text-shadow: 2px 2px black;
}

.newsdiv{
  border: 1pt solid gray;
  padding: 1pt 1pt 3pt 2pt;
  width: 20em;
  margin-top: 5pt;
}
.newsheader{
  font-weight: bold;
  font-variant: small-caps;
  font-size: 11pt;
  color: #303570;
  text-align: center;
}
.newsdate{
  font-weight: bold;
  color: #303570;
  font-size: 8pt;
}
.newsline{
  padding: 1pt 1pt 1pt 5pt;
  font-size: 8pt;
}

a.rss, a.rss:hover, a.rss:active{
  background: url("../images/feed.png") no-repeat;
  padding: 0 0 5px 20px;
  margin-left: 1em;
  font-size: 8pt;
}
