<t:templates xmlns:t="http://nwalsh.com/docbook/xsl/template/1.0"
             xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
             xmlns:param="http://nwalsh.com/docbook/xsl/template/1.0/param"
             xmlns:fo="http://www.w3.org/1999/XSL/Format"
             >

<t:titlepage t:element="article" t:wrapper="fo:block" t:class="titlepage">
  
  <t:titlepage-content t:side="recto">
    
    <title t:named-template="component.title"
       param:node="ancestor-or-self::article[1]"
       text-align="center"
       keep-with-next="always"
       font-size="24.8832pt"
       font-weight="bold"
       font-family="{$title.font.family}"/>
           
    <pubdate font-size="20pt"
             font-weight="bold"
             space-before="0.6em"
             space-after="0.5em"
             />
    <edition/>
    <revhistory/>
    <author space-before="0.5em"/>
    <legalnotice/>
    <copyright space-before="0.5em"/>
    <abstract space-before="0.5em"
        text-align="start"
        margin-left="0.2in"
        margin-right="0.2in"
        font-family="{$body.font.family}"/>
  </t:titlepage-content>

  <t:titlepage-separator>
      <fo:block break-after="page"/>
  </t:titlepage-separator>

</t:titlepage>


</t:templates>