<t:templates xmlns:t="http://nwalsh.com/docbook/xsl/template/1.0"
             xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
             >
<t:titlepage t:element="article" t:wrapper="div" t:class="titlepage">
  <t:titlepage-content t:side="recto" t:order="document">
    <title/>
    <pubdate/>
    <edition/>
    <revhistory/>
    <author/>
    <copyright/>
    <legalnotice/>
    <abstract/>
  </t:titlepage-content>
</t:titlepage>
</t:templates>